################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ECommerce/.vs
/ECommerce/E-Commerce/bin/Debug/net8.0
/ECommerce/E-Commerce/obj
